<!doctype html>
{%  load staticfiles  %}
<html lang="en"><head>
    <meta charset="utf-8">
    <title>Bootstrap Admin</title>
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{% static 'services/lib/bootstrap/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'services/lib/font-awesome/css/font-awesome.css' %}">

    <script src="{% static 'services/lib/jquery-1.11.1.min.js'}" type="text/javascript"></script>



    <link rel="stylesheet" type="text/css" href="{% static 'services/stylesheets/theme.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'services/stylesheets/premium.css'}">

</head>
<body class=" theme-blue">

    <!-- Demo page code -->

    <script type="text/javascript">
        $(function() {
            var match = document.cookie.match(new RegExp('color=([^;]+)'));
            if(match) var color = match[1];
            if(color) {
                $('body').removeClass(function (index, css) {
                    return (css.match (/\btheme-\S+/g) || []).join(' ')
                })
                $('body').addClass('theme-' + color);
            }

            $('[data-popover="true"]').popover({html: true});
            
        });
    </script>
    <style type="text/css">
        #line-chart {
            height:300px;
            width:800px;
            margin: 0px auto;
            margin-top: 1em;
        }
        .navbar-default .navbar-brand, .navbar-default .navbar-brand:hover { 
            color: #fff;
        }
    </style>

    <script type="text/javascript">
        $(function() {
            var uls = $('.sidebar-nav > ul > *').clone();
            uls.addClass('visible-xs');
            $('#main-menu').append(uls.clone());
        });
    </script>

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="../assets/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
  

  <!--[if lt IE 7 ]> <body class="ie ie6"> <![endif]-->
  <!--[if IE 7 ]> <body class="ie ie7 "> <![endif]-->
  <!--[if IE 8 ]> <body class="ie ie8 "> <![endif]-->
  <!--[if IE 9 ]> <body class="ie ie9 "> <![endif]-->
  <!--[if (gt IE 9)|!(IE)]><!--> 
   
  <!--<![endif]-->

    <div class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="" href="index.html"><span class="navbar-brand"><span class="fa fa-paper-plane"></span> CSIR</span></a></div>

        <div class="navbar-collapse collapse" style="height: 1px;">
          <ul id="main-menu" class="nav navbar-nav navbar-right">
            <li class="dropdown hidden-xs">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="glyphicon glyphicon-user padding-right-small" style="position:relative;top: 3px;"></span> {{fname}} {{lname}}
                    <i class="fa fa-caret-down"></i>
                </a>

              <ul class="dropdown-menu">
                <li><a href="./">My Account</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Admin Panel</li>
                <li><a href="./">Users</a></li>
                <li><a href="./">Security</a></li>
                <li><a tabindex="-1" href="./">Payments</a></li>
                <li class="divider"></li>
                <li><a tabindex="-1" href="sign-in.html">Logout</a></li>
              </ul>
            </li>
          </ul>

        </div>
      </div>
    </div>
    

    <div class="sidebar-nav">
    <ul>
    <li><a href="/dash/" data-target=".dashboard-menu" class="nav-header" data-toggle=""><i class=""></i> Dashboard<i class=""></i></a></li>
        <li><a href="/campaign/" data-target=".accounts-menu" class="nav-header collapsed" data-toggle=""><i class=""></i> Campaigns <span class=""></span></a></li>


        <li><a href="/groups/" data-target=".legal-menu" class="nav-header collapsed" data-toggle=""><i class=""></i> User And Groups<i class=""></i></a></li>
        <li><a href="/send/" data-target=".legal-menu" class="nav-header collapsed" data-toggle=""><i class=""></i> Email Templates<i class=""></i></a></li>


        <li><a href="/langing/" class="nav-header" target="blank"><i class=""></i>Landing Pages</a></li>
        <li><a href="/profiles/" class="nav-header" target="blank"><i class=""></i>Sending Profiles</a></li>

        <li><a href="#" data-target=".accounts-menu" class="nav-header collapsed" data-toggle=""><i class=""></i> My Profile <span class=""></span></a></li>


        <li><a href="#" data-target=".legal-menu" class="nav-header collapsed" data-toggle=""><i class=""></i> User Guide<i class=""></i></a></li>

        <li><a href="/logout/" class="nav-header" target="blank"><i class=""></i>Logout</a></li>
    </ul>
    </div>

    <div class="content">
        <div class="header">
            
            <h1 class="page-title">Campaigns</h1>
            <ul class="breadcrumb">
            <li><a href="/dash/">Home</a> </li>
            <li><a href="/campaign/">Campaigns</a> </li>
            <li class="active">Details</li>
        </ul>

        </div>
        <div class="main-content">
            
<div class="btn-toolbar list-toolbar">
        <button name="newgroup" class="btn btn-default"><i class="fa fa-plus"></i><a href="/campaign/new/group/{{campaign_id}}"--> New Group</a></button>
        <button name="importgroup" class="btn btn-default"><a href="/campaign/group/import/{{campaign_id}}"-->Import Group</a></button>
        <br>
        <br>
    <form method="post" action="/set/profile/landing/{{campaign_id}}/">{% csrf_token %}
        <select id="sel1" name="page" class="form-control">
            <option>Select Landing Page</option>
            {% for page in pages %}
                <option value="{{page.page_name}}">{{page.page_name}}</option>
            {% endfor %}
        </select><br>

        <select name="profile" id="sel2" class="form-control">
            <option>Sending Profile</option>
            {% for profile in profiles %}
            <option value="{{profile.profile_name}}">{{profile.profile_name}}</option>
            {% endfor %}
        </select><br>

        <select name="template" id="sel3" class="form-control">
            <option>Email Templates</option>
            {% for template in templates %}
            <option value="{{template.template_name}}">{{template.template_name}}</option>
            {% endfor %}
        </select><br>

    <button name="set_options" class="btn btn-primary"> Set Page/profile</button>
    <button type="submit" name="export" class="btn btn-default"><i class="fa fa-plus"></i><a href="/test/"> Test me</a></button>
    </form>
    <!--form action="/btngroup/" method="post" enctype="multipart/form-data">{% csrf_token %}
        <button name="import" class="btn btn-default">Import</button>
        <button name="export" class="btn btn-default">Export</button>
    </form-->

      <h2>Groups</h2>

</div>
<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Group Name</th>
      <th></th>
        <th></th>
      <th>Details</th>
      <th style="width: 3.5em;"></th>
    </tr>
  </thead>
  <tbody>
    {% with 1 as i%}
    {% for groups in group_list %}
    <tr>
      <td>{{ i }}</td>
      <td>{{ groups.group_name }}</td>
      <td>{{ groups.group_description }}</td>
      <td>{{ groups.created_date }}</td>
      <td><a href="/campaign/details/users/{{groups.group_id}}">Details</a></td>
      <td>
          <a href="/campaign/remove/group/{{campaign_id}}/{{groups.group_id}}/" role="button" data-toggle="modal"><i class="fa fa-trash-o"></i></a>
      </td>

    </tr>
    {% endfor %}
    {% endwith %}
  </tbody>
</table>


<!--<div class="btn-toolbar list-toolbar">-->
        <!--<button name="newuser" class="btn btn-default"><i class="fa fa-plus"></i><a href="/campaign/new/user/{{group_id}}"&ndash;&gt; New User</a></button>-->
        <!--<button name="importuser" class="btn btn-default"><a href="/campaign/group/import/">Import User</a></button>-->
    <!--&lt;!&ndash;form action="/btngroup/" method="post" enctype="multipart/form-data">{% csrf_token %}-->
        <!--<button name="import" class="btn btn-default">Import</button>-->
        <!--<button name="export" class="btn btn-default">Export</button>-->
    <!--</form&ndash;&gt;-->

<!--<h2>Ungrouped Users</h2>-->
<!--</div>-->
<!--<table class="table">-->
  <!--<thead>-->
    <!--<tr>-->
      <!--<th>#</th>-->
      <!--<th>User Name</th>-->
      <!--<th>Group Name</th>-->
      <!--<th>Date Clicked</th>-->
      <!--<th>Details</th>-->
      <!--<th style="width: 3.5em;"></th>-->
    <!--</tr>-->
  <!--</thead>-->
  <!--<tbody>-->
    <!--{% with 1 as i%}-->
    <!--{% for groups in group_list %}-->
    <!--<tr>-->
      <!--<td>{{ i }}</td>-->
      <!--<td>{{ groups.group_name }}</td>-->
      <!--<td>{{ groups.group_description }}</td>-->
      <!--<td>{{ groups.created_date }}</td>-->
      <!--<td><a href="/campaign/details/users/{{groups.group_id}}">Details</a></td>-->
      <!--<td>-->
          <!--<a href="/campaign/remove/{{campaign.campaign_id}}/" role="button" data-toggle="modal"><i class="fa fa-trash-o"></i></a>-->
      <!--</td>-->

    <!--</tr>-->
    <!--{% endfor %}-->
    <!--{% endwith %}-->
  <!--</tbody>-->
<!--</table>-->





<!--ul class="pagination">
  <li><a href="#">&laquo;</a></li>
  <li><a href="#">1</a></li>
  <li><a href="#">2</a></li>
  <li><a href="#">3</a></li>
  <li><a href="#">4</a></li>
  <li><a href="#">5</a></li>
  <li><a href="#">&raquo;</a></li>
</ul-->

<div class="modal small fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">Delete Confirmation</h3>
        </div>
        <div class="modal-body">
            <p class="error-text"><i class="fa fa-warning modal-icon"></i>Are you sure you want to delete the user?<br>This cannot be undone.</p>
        </div>
        <div class="modal-footer">
            <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">Cancel</button>
            <button class="btn btn-danger" data-dismiss="modal">Delete</button>
        </div>
      </div>
    </div>
</div>


            <footer>
                <hr>

                <!-- Purchase a site license to remove this link from the footer: http://www.portnine.com/bootstrap-themes -->
                <p class="pull-right">A <a href="http://www.portnine.com/bootstrap-themes" target="_blank">Free Bootstrap Theme</a> by <a href="http://www.portnine.com" target="_blank">Portnine</a></p>
                <p>© 2014 <a href="http://www.portnine.com" target="_blank">Portnine</a></p>
            </footer>
        </div>
    </div>


    <script src="lib/bootstrap/js/bootstrap.js"></script>
    <script type="text/javascript">
        $("[rel=tooltip]").tooltip();
        $(function() {
            $('.demo-cancel-click').click(function(){return false;});
        });
    </script>
    
  
</body></html>
